.hero-sec {
    padding: clamp(120px, 22.5vw, 225px) 0;
    background: center /cover no-repeat;
    position: relative;

    &.v2 {
        padding: clamp(60px, 8vw, 100px) 0;
    }

    &.v3 {
        padding-top: clamp(120px, 17vw, 170px);
        padding-bottom: clamp(50px, 7vw, 70px);
    }

    &.v4 {
        padding: clamp(60px, 8vw, 100px) 0;

        .hero-img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .content-wrapper {
        .description {
            font-size: clamp(18px, 2vw, 20px);
            font-weight: 500;
        }
    }
}

// Media Query
@media (max-width:1199px) {
    .hero-sec {
        &.v4 {
            .content-wrapper{
                text-align: center;
            }
        }
    }
}