.order-sec {
    .order-wrapper {
        position: relative;
        padding: 30px 0;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            height: 100%;
            width: 4px;
            background: linear-gradient(to top,
                    transparent,
                    var(--dark),
                    var(--dark),
                    var(--dark),
                    var(--dark),
                    transparent);
        }

        .content {
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;
            padding-left: clamp(18px,2.4vw,24px);

            &::before {
                content: '';
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                background-color: var(--primary);
                border-radius: 50%;
                width: 18px;
                height: 18px;
            }

            .title {
                font-size: clamp(12px, 2vw, 20px);
                font-weight: 600;
                color: #000000;
            }

            .border {
                max-width: clamp(40px,10vw,100px);
                width: 100%;
                height: 3px;
                background-color: var(--primary);
            }
        }
    }

    .order-card {
        background-color: var(--gray-light);
        border-radius: 10px;
        padding: 14px;
        .card-inner {
            display: flex;
            align-items: center;
            gap: 8px;
            border-bottom: 1px solid #00000040;
            padding-bottom: 16px;
            margin-bottom: 16px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}