.price-container {
    display: flex;
    align-items: center;
    gap: clamp(20px,4vw,40px);
    flex-wrap: wrap;

    .quantity-controls {
        display: flex;
        align-items: center;
        gap: 8px;

        .qty-btn{
            background-color: transparent;
            border: none;
            color: white;
            font-size: 30px;
        }

        .qty-input {
            width: 40px;
            height: 30px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            border: 1px solid white;
            background-color: #ffffff15;
            color: #fff;
            border-radius: 4px;
            padding: 0;
            user-select: none;
            outline: none;
        }
    }

    .discount-price del {
        color: #ffffff90;
        font-size: 22px;
        font-weight: 500;
        span{
            color: #ffffff90;
        }
    }

    .discount-label {
        font-size: 14px;
        color: #fff;
    }
}